.header {
  /* min-width: 1105px; */
  height: 7vh;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
  color: #ffffff;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 18px 20px 0 20px;
}
.header__locaitonIcon {
  margin-right: -0.5rem;
}
.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.header__searchInput {
  height: 3.2rem;
  padding: 10px;
  border: none;
  width: 100%;
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}

.header__searchIcon {
  color: #131921;
  padding: 0.3rem;
  width: 3.2rem !important;
  height: 3.2rem !important;
  background-color: #ff9900;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin: 0 0.7rem 0 0.7rem;
}

.header__optionBasket {
  display: flex;
  align-items: center;
}

.header__basketCount {
  margin: 0 0.5rem 0 0.5rem;
  color: #ff9900;
}
